.consultation {
  padding: 103px 0px 92px 0px;
  background: url(../../img/bg-consultation.jpg) center (center/cover) no-repeat;
  &_description {
    margin-top: 80px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: #ffffff;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}
