.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  &_consultation {
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: 36px;
    line-height: normal;
  }
}
